<!DOCTYPE html>
<html>
 <%- include('partials/navegacao') %>
<body>

		<main>
			<h2>Adicionar Noticia</h2>
			<div class="jumbotron">
			<form  method="POST">
				<label for="titulo">Titulo da Noticia</label> <br>
            	<input class="form-control" name="titulo"/>

            	<label for="noticia">Noticia da Noticia</label>
            	<textarea class="form-control" name="noticia" rows="3"></textarea><br>

            	<button type="input" class="btn btn-dark">Enviar</button>
			</form>
			
			</div>
			
		</main>

</body>
</html>